@import "tailwindcss";

/* Tokens de marca (Tailwind v4) */
@theme {
  --color-primary: #1F7A4F;
  --color-primaryLight: #3CB371;
  --color-secondary: #009b6d;
  --color-dark: #1E293B;
  --color-light: #E5E7EB;
}

/* Utilidades globales */
:root { color-scheme: light; }
html { scroll-behavior: smooth; }
body { color: var(--color-dark); background: white; }
