---
import company from '../data/company.json';
---
<a
  href={`https://wa.me/${company.whatsapp.replace('+', '')}`}
  aria-label="WhatsApp"
  class="fixed right-5 bottom-5 z-50 rounded-full p-4 shadow-lg bg-[#25D366] text-white"
>
  <!-- Simple WhatsApp icon (font-awesome is not used to avoid additional dependencies in this skeleton) -->
<img src="/whatsapp.svg" alt="WhatsApp" class="w-8 h-8" />
</a>



